In [33]:
import pandas as pd
df = pd.read_csv('kindle_data-v2.csv')
df = df.dropna()
df = df.drop_duplicates()
df = df.drop(columns = ['isEditorsPick', 'isGoodReadsChoice', 'isKindleUnlimited','asin'],axis =1)
df.head()

,title,author,soldBy,imgUrl,productURL,stars,reviews,price,category_id,isBestSeller,publishedDate,category_name
0,Adult Children of Emotionally Immature Parents...,Lindsay C. Gibson,Amazon.com Services LLC,https://m.media-amazon.com/images/I/713KZTsaYp...,https://www.amazon.com/dp/B00TZE87S4,4.8,0,9.99,6,True,2015-06-01,Parenting & Relationships
1,"From Strength to Strength: Finding Success, Ha...",Arthur C. Brooks,Penguin Group (USA) LLC,https://m.media-amazon.com/images/I/A1LZcJFs9E...,https://www.amazon.com/dp/B08WCKY8MB,4.4,0,16.99,6,False,2022-02-15,Parenting & Relationships
2,Good Inside: A Guide to Becoming the Parent Yo...,Becky Kennedy,HarperCollins Publishers,https://m.media-amazon.com/images/I/71RIWM0sv6...,https://www.amazon.com/dp/B09KPS84CJ,4.8,0,16.99,6,False,2022-09-13,Parenting & Relationships
3,Everything I Know About Love: A Memoir,Dolly Alderton,HarperCollins Publishers,https://m.media-amazon.com/images/I/71QdQpTiKZ...,https://www.amazon.com/dp/B07S7QPG6J,4.2,0,9.95,6,False,2020-02-25,Parenting & Relationships
4,The Seven Principles for Making Marriage Work:...,John Gottman,Random House LLC,https://m.media-amazon.com/images/I/813o4WOs+w...,https://www.amazon.com/dp/B00N6PEQV0,4.7,0,13.99,6,False,2015-05-05,Parenting & Relationships

In [34]:

from mysql.connector import connect
import pandas as pd
import matplotlib.pyplot as plt
import warnings
import seaborn as sns
warnings.filterwarnings("ignore")

In [35]:
conn = connect(
    host = 'localhost',
    user = 'root',
    password = '123456',
    database = 'assignment',
    port = 3306
)
conn.is_connected()

True

In [36]:
sql = """
select * from book
"""
pd.read_sql(sql, conn)

,Book_id,Title,Price,Language,Availability_Status,Publisher_id,Author_ID,Category_id,Amount,PublishDate
0,1,1984,15.99,English,Available,1,1,1,100,1988-01-05
1,2,Alice in wonderland,10.00,English,Available,2,2,1,23,1999-01-07